*~
__pycache__
doc/sphinx/build/

.gitattributes
.github/
TOFIX.txt
doc/
gh-pages/
json-example.py
notes.txt
open-doc.sh
RadioCrawler/Crawler/tmp.py
TODO.txt
logconfig.log
tools/upload-to-pypi
tools/upload-www
trash/
